{
  "env": {
    "es": {
      "presets": [
        [
          "env",
          {
            "comments": false,
            "modules": false,
            "useBuiltIns": false,
            "sourceMaps": true
          }
        ]
      ]
    },
    "cjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "comments": false,
            "sourceMaps": true
          }
        ],
        "stage-1"
      ]
    }
  }
}
